pycosat==0.6.3
urllib3==1.26.7
anaconda-client==1.7.2
anaconda-navigator==2.0.3
appdirs==1.4.4
argh==0.26.2
asgiref==3.5.2
astor==0.8.1
astunparse==1.6.3
atomicwrites==1.4.0
backports.zoneinfo==0.2.1
bindepend==0.1
bkcharts==0.2
blinker==1.4
blis==0.7.8
boto==2.49.0
boto3==1.24.19
botocore==1.27.19
Bottleneck==1.3.2
Box2D==2.3.10
brotlipy==0.7.0
bs4==0.0.1
bz2file==0.98
catalogue==2.0.7
certifi==2021.10.8
clyent==1.2.2
comtypes==1.1.9
conda==4.11.0
conda-build==3.21.4
conda-verify==3.4.2
contextlib2==0.6.0.post1
cycler==0.10.0
cymem==2.0.6
cytoolz==0.11.0
deprecation==2.1.0
dill==0.3.5.1
distlib==0.3.4
Django==4.1.1
dm-env==1.5
dm-tree==0.1.7
docopt==0.6.2
dopamine-rl==3.0.1
editdistance==0.6.0
entrypoints==0.3
et-xmlfile==1.0.1
etils==0.6.0
fastcache==1.1.0
fastdtw==0.3.4
fasteners==0.18
filelock==3.7.1
ftfy==6.1.1
future==0.18.2
futures==3.0.5
gensim==4.2.0
geometric-primitives==0.1.1
gin-config==0.5.0
glfw==2.5.5
google-api-core==2.8.2
google-api-python-client==2.51.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.3
gunicorn==20.1.0
gym==0.22.0
gym-notices==0.0.6
h5py==2.10.0
HeapDict==1.0.1
httplib2==0.20.4
huggingface-hub==0.8.1
importlib-metadata==4.11.3
importlib-resources==5.8.0
jdcal==1.4.1
jmespath==1.0.1
json5==0.9.5
jupyter==1.0.0
jupyter_packaging==0.12.3
kfac==0.2.0
labmaze==1.0.5
langcodes==3.3.0
llvmlite==0.36.0
locket==0.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
menuinst==1.4.16
mesh-tensorflow==0.1.21
mistune==0.8.4
mkl-fft==1.3.0
mkl-service==2.3.0
mpmath==1.2.1
msgpack-python==0.5.6
mujoco==2.3.0
multipledispatch==0.6.0
murmurhash==1.0.7
mypy-extensions==0.4.3
navigator-updater==0.2.1
num2words==0.5.10
oauth2client==4.1.3
olefile==0.46
open3d==0.15.1
opencv-python==4.5.5.64
parso==0.7.0
pathspec==0.7.0
pathy==0.6.1
patsy==0.5.1
pefile==2022.5.30
pep8==1.7.1
pkginfo==1.7.0
plac==1.1.3
platformdirs==2.5.2
ply==3.11
portalocker==2.5.1
preshed==3.0.6
promise==2.3
protobuf==4.21.9
pycorenlp==0.3.0
pycosat==0.6.3
pycurl==7.43.0.6
pydantic==1.8.2
pygame==2.1.2
pynum==0.0.1
pyodbc===4.0.0-unsupported
PyOpenGL==3.1.6
pypng==0.0.21
pyreadline==2.1
pytest==6.2.3
pythonds==1.2.1
pytorch-transformers==1.2.0
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtPy==1.9.0
requests-oauthlib==1.3.0
s3transfer==0.6.0
sacrebleu==2.1.0
sacremoses==0.0.53
scikit-image==0.18.1
sentencepiece==0.1.96
simplegeneric==0.8.1
simplejson==3.18.1
sip==4.19.13
sklearn==0.0
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
sqlparse==0.4.3
srsly==2.4.3
statsmodels==0.12.2
subword-nmt==0.3.8
swig==4.1.0
tables==3.6.1
tabulate==0.8.10
tensor2tensor==1.15.7
tensorboard-plugin-wit==1.6.0
tensorflow==2.3.0
tensorflow-addons==0.17.1
tensorflow-datasets==4.6.0
tensorflow-gan==2.1.0
tensorflow-hub==0.12.0
tensorflow-metadata==1.9.0
tensorflow-probability==0.7.0
termcolor==1.1.0
terminado==0.9.4
tf-slim==1.1.0
thinc==8.0.17
tokenizers==0.12.1
tomlkit==0.11.4
torch==1.11.0+cu113
torchaudio==0.11.0+cu115
torchtext==0.6.0
torchvision==0.12.0+cu113
transformers==4.20.1
tushare==1.2.89
typeguard==2.13.3
typer==0.4.1
tzdata==2022.4
unicodecsv==0.14.1
uritemplate==4.1.1
virtualenv==20.14.1
wasabi==0.9.1
webencodings==0.5.1
websocket-client==0.57.0
widgetsnbextension==3.5.1
win-unicode-console==0.5
wincertstore==0.2
word2number==1.1
wrapt==1.12.1
xlwings==0.23.0
xlwt==1.3.0
xmltodict==0.12.0
zict==2.0.0
zope.event==4.5.0
